*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
}
footer{
    
}
div{
    width: 200px;
    height: 200px;
    background-color: ;
}
.grad-lineal¨{
    background-image:linear-gradient(violet blue)
}
nav{
    text-align: center;
}