*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
footer{
    
}
div{
    width: 200px;
    height: 200px;
    
}
.grad-lineal¨{
    background-image:linear-gradient(violet blue)
}
nav{
    text-align: center;
}
.texto-animado{
    animation-name: texto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes texto {
    from {
        transform: translate(1300px);

    }
    to{
        transform: translate(0);

    }
}